@charset "UTF-8";
/* === MISE EN PAGE GENERAL ===*/
html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}

.vertical-align {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.object-center {
  justify-content: center;
}

/* Classes fonctionnelles */
.container {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Titre */
h1 {
  font-size: 75px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
}

h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 60px;
  color: #FEFEFE;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #FEFEFE;
}

p{
  font-family: "Montserrat";
  color :#FEFEFE;
  font-size: 20px;
}

/* Bouton */
.first-cta {
  padding: 13px 15px;
  background-color: #B89959;
  color: #FFFFFF;
  border-radius: 8px;
  transition: all 1s ease;
}

.first-cta:hover {
  background-color: #857043;
  color: #FFFFFF;
}

.second-cta {
  padding: 13px 15px;
  background-color: #B89959;
  color: #FFFFFF;
  border-radius: 8px;
  transition: all 1s ease;
}

.second-cta:hover {
  background-color: #857043;
  color: #FFFFFF;
}


/* === HEADER ===*/
nav {
  align-items: center;
}

nav ul {
  list-style: none;
}

nav a {
  color: #FEFEFE;
  text-transform: uppercase;
}

nav a:hover {
  font-weight: 700;
}

nav div:nth-child(1) {
  width: 50%;
}

nav div:nth-child(2) {
  width: 50%;
}

/* === MAIN ===*/
.bg-image {
  background-image: url(../images/ImgHero.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.bg-image img{
  width: 15%;
  height: auto;
}

.hero {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 84%;
}
.hero h1 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 30vh;
}

.hero a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 0.1em;
  background-color: #b89959;
  padding: 0.75em;
  transition: all 0.3s ease;
}

.hero a:hover{
  background-color: #857043;
  padding: 0.85em;
}

/* LABEL */

.label{
  background-size: 50vh;
}

.labelimg{
  width: 20%;
  height: 100%;
}

/* QUI SOMMES NOUS 1*/

.QuiSommesNousUN {
  background-color: #202020;
  display: flex;
  gap: 20vh;
}

.textabout1{
  width: 60%;
  padding-right: 10vh;
}

.imgAbout{
  width: 25%;
}

/* QUI SOMMES NOUS 2 */
.QuiSommesNousDEUX {
  gap: 40px;
}

.textabout2{
  width: 60%;
  padding-left: 10vh;
}


.Numbers {
  text-align: center;
  justify-content: center;
  gap: 17px;
}
.Numbers p {
  margin: 0px 0px 40px 0;
}
.Numbers h3 {
  margin-bottom: 0;
}

.Project1 {
  background-color: #4d383f;
}
.Project1 h3 {
  color: #FEFEFE;
}
.Project1 p {
  color: #FEFEFE;
  margin-bottom: 90px;
}
.Project1 > div > div > div {
  width: 50%;
  gap: 40px;
}
.Project1 > div > div {
  gap: 40px;
}

.Project2 p {
  margin-bottom: 90px;
}
.Project2 > div > div > div {
  width: 45%;
  gap: 40px;
}
.Project2 > div > div {
  gap: 40px;
}

.Buttons {
  justify-content: center;
  align-items: center;
  gap: 73px;
  margin-top: 73px;
}
.Buttons div {
  transition: all 0.5s ease;
}
.Buttons div:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 10px #4d383f);
}

.downloadcv {
  margin: 20px 0px 0px 0px;
}
.downloadcv p {
  margin-bottom: 60px;
}

/* Tableau */
input, textarea {
  background-color: whitesmoke;
  border: 0px;
  padding: 20px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.tableau {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 350px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.form {
  padding-top: 30px;
  width: 48%;
}

/* === FOOTER ===*/
footer {
  align-items: center;
}
footer ul {
  list-style: none;
}
footer a {
  color: #FEFEFE;
  transition: all 1s ease;
}
footer a:hover {
  font-weight: 700;
}
footer .logo-footer {
  width: 7%;
  margin-top: 100px;
  margin-bottom: 75px;
}
footer .social-network {
  width: 14%;
  gap: 20px;
  margin-top: 15px;
}

.social-network {
  width: 14%;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
