html {
    font-family: "Montserrat";
}

body{
    margin: 0;
    padding: 0;
    background-color: #171717;
}

/* TITRE */

h1{
    font-family: "Poppins";
    font-size: 96px;
}

h2{
    font-family: "Poppins";
    font-size: 64px;
}

/* PRESET */

.container{
    margin: 0 auto;
    width: 80%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* SECTION LABEL */
#partenaire{
    height: 2;
}


#partenaire div{
    align-items: center;
}

#partenaire img{
    width: 20%;
    height: 100%;
}